a {
    text-decoration: none;
    color: #fff;
}

* {
    font-family: 'Roboto', sans-serif;
    color: #BBB;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0em;
    width: 100%;
    height: 100%;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    margin: 0;
    background-color: #111;
    height: fit-content;
}

footer {
    padding: .2em 0;
    text-align: center;
    background-color: #000;
    color: rgb(83, 83, 83);
}

footer b {
    color: rgb(83, 83, 83);
}



/* Nav */

nav {
    z-index: 999;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 4em;
    background-color: #111;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
}

#logo {
    filter: invert(1);
    width: 5vh;
}

.enlaces {
    display: flex;
    gap: 2em;
}

.enlaces a{
    transition: .3s color;
    padding: 1em;
}

.enlaces a:hover {
    color: #BBB;
}

/* Principal */

video {
    z-index: -1;
}

.hero__video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    user-select: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.hero__letras {
    z-index: 999;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100vh;
}

.hero__letras--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 2%;
}

.hero__letras--row1,
.hero__letras--row2 {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    max-width: 100vw;
}

/* Temas */

.temas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}

.temas div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tema__colores {
    background-image: url('../imgs/ropa_de_colores.png');
}
.tema__broken {
    background-image: url('../imgs/broken.png');
}
.tema__nubes {
    background-image: url('../imgs/nubes1.png');
}
.tema__nubes--distorsion {
    backdrop-filter: opacity(0.5);
    background-image: url('../imgs/nubes2.png');
}

/* Redes */
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)),
              url("../imgs/bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.redes__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 1em;
    padding: 2em;
    width: fit-content;
}

#redes__container--foto{
    background-image: url("../imgs/kaze perfil.JPG");
    height: 40vh;
    width: 20vw;
    min-width: 12em;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

#redes__container--nombre{
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin: .3em 0 .2em 0;
}

.redes__container--redes{
    margin-top: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.redes__container--redes img{
    height: 2em;
}



@media (max-width: 868px) {
    html,
    body,
    main {
        margin: 0;
        padding: 0;
    }
    iframe {
        height: 11.6em;
        width: 90%;
    }
    nav div a {
        display: none;
    }

    nav {
        justify-content: center;
    }
    #K,
    #A,
    #Z,
    #E {
        height: 1em;
        width: 1em;
    }
    .hero__letras--row1 img,
    .hero__letras--row2 img {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    }
    .hero__letras--container {
        transform: scale(.4);
    }
}
